<p-toast position="bottom-center"></p-toast>
<div class="container">
	<div class="button-area">
		<button pButton (click)="createNewOrderActionButton()" type="button" class="create-button" label="Create new order"></button>
	</div>

	<p-table [responsive]="true" [value]="listOrders" styleClass="p-datatable-responsive-demo">
		<ng-template pTemplate="header" let-columns>
			<tr>
				<th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
				<th pSortableColumn="category.name">Category<p-sortIcon field="category.name"></p-sortIcon></th>
				<th pSortableColumn="name">Name<p-sortIcon field="name"></p-sortIcon></th>
				<th pSortableColumn="celPhone">Cell Phone<p-sortIcon field="celPhone"></p-sortIcon></th>
				<th pSortableColumn="agency">Agency<p-sortIcon field="agency"></p-sortIcon></th>
				<th pSortableColumn="company">Company<p-sortIcon field="company"></p-sortIcon></th>
				<th pSortableColumn="deadline">Deadline<p-sortIcon field="deadline"></p-sortIcon></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-order let-columns="columns">
			<tr (click)="showModalDialog(order)" class="order-row">
				<td><span class="p-column-title">ID</span>{{order.id}}</td>
				<td><span class="p-column-title">Category</span>{{order.category.name}}</td>
				<td><span class="p-column-title">Name</span>{{order.name}}</td>
				<td><span class="p-column-title">Phone</span>{{order.celPhone}}</td>
				<td><span class="p-column-title">Agency</span>{{order.agency}}</td>
				<td><span class="p-column-title">Company</span>{{order.company}}</td>
				<td><span class="p-column-title">Deadline</span>{{order.deadline | date: 'dd/MM/yyyy'}}</td>
			</tr>
		</ng-template>
	</p-table>
</div>

<p-dialog header="New Order" [(visible)]="displayModal" [modal]="true" [style]="{width: '80vw'}" [draggable]="false"
	[resizable]="false">
	<form class="form-validate" novalidate="" [formGroup]="form">
		<div class="card">
			<div class="formgrid grid">
				<div class="field col-12 md:col-4">
					<label for="name">Contact Name</label>
					<input formControlName="name" pInputText id="name" type="text" class="inputfield w-full">
				</div>
				<div class="field col-12 md:col-4">
					<label for="celPhone">Contact Phone</label>
					<input formControlName="celPhone" mask="(00) 0 0000-0000" pInputText id="celPhone" type="text" class="inputfield w-full">
				</div>
				<div class="field col-12 md:col-4">
					<label for="agency">Real Estate Agency</label>
					<input formControlName="agency" pInputText id="agency" type="text" class="inputfield w-full">
				</div>
				<div class="field col-12 md:col-8">
					<label for="description">Order Description</label>
					<textarea formControlName="description" id="description" rows="5" cols="30" class="inputfield w-full" pInputTextarea></textarea>
				</div>
				<div class="field col-12 md:col-4">
					<label for="company">Company</label>
					<input formControlName="company" pInputText id="company" type="text" class="inputfield w-full">
				</div>
				<div class="field col-12 md:col-8">
					<label for="category">Select the order category</label>
					<p-dropdown formControlName="category" placeholder="Select a category" appendTo="body" [showClear]="true" [options]="categories" optionLabel="name" class="w-full inputfield" id="category">
					</p-dropdown>
				</div>
				<div class="field col-12 md:col-4">
			<label for="deadline">Deadline</label>
			<p-calendar formControlName="deadline" dateFormat="dd/mm/yy" id="deadline" class="inputfield w-full input-calendar" appendTo="body" [showIcon]="true" inputId="icon" ></p-calendar>
			</div>
			</div>
		</div>
	</form>

	<ng-template pTemplate="footer">
		<p-button (onClick)="createOrder()" [disabled]="!form.valid" label="Save" icon="pi pi-check"></p-button>
	</ng-template>
</p-dialog>

<div class="progress-spinner" *ngIf="showLoader">
    <p-progressSpinner></p-progressSpinner>
</div>